/*
 Theme Name:   Adrenalin Child
 Description:  Adrenalin Child Theme
 Template:     adrenalin
 Version:      1.3.7.6
 Text Domain:  adrenalin-child
*/


/* =Theme customization starts here
-------------------------------------------------------------- */
#woospecial .woospecialbutton span {
    font-size: 14px;
    font-family: Verdana;
}

#woospecial .woospecialbutton {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    height: 40px;
    width: 210px;
    text-align: center;
    padding: 15px 20px;
}

.woospecialright {
    right: -97px;
    top: 38%;
    -webkit-transition: right 500ms ease;
    -moz-transition: right 500ms ease;
    -ms-transition: right 500ms ease;
    -o-transition: right 500ms ease;
    transition: right 500ms ease;
}

.woocommerce .checkout-button {
    background: #ca1a1d;
}

.woocommerce #place_order {
    background: #ca1a1d !important;
    border-color: #ca1a1d !important;
    color: #fff!important;
    font-size: 18px!important;
}

.content-area table.cart tr td.actions input[name="empty_cart"] {
    height: 36px !important;
    margin-right: 10px;
    float: left;
    margin-top: 0;
    background-color: buttonface !important;
    border: 2px solid #e2e2e2;
    color: #444 !important;
    padding: 8px 14px !important;
}

.woocommerce-category-description {
    width: 906px;
    word-wrap: break-word;
}

#update_cart_custom {
    float: right;
    margin-top: 0;
    background-color: buttonface !important;
    border: 2px solid #e2e2e2;
    color: #444 !important;
    padding: 8px 14px !important;
}

.content-area .coupon input#coupon_code  {
    width: 100% !important;
    padding: 8px 10px;
    margin-bottom: 10px;
}

#woocommerce-cart-notice-samples,
#woocommerce-cart-notice-free-shipping {
    padding: 0;
    margin-bottom: 25px;
}

#woocommerce-cart-notice-samples::before {
    content: '';
}

@media only screen and (min-width : 960px) {
    .content-area table.cart {
        width: 66% !important;
        float: left !important;
    }

    body.woocommerce-cart .content-area form {
         width: inherit !important;
         float: none !important;
    }
}

.cg-product-info .name {
    word-break: break-all;
}

.post-ratings img {
    float: left;
    margin-right: 3px !important;
}

.post-ratings-text {
    float: left;
}

span[name="Kicker Custom 1"] {
    margin-top: 10px;
}

blockquote:before,
blockquote:after {
    content: '';
}

#content {
    padding: 10px;
    width: 50%;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
}

#content ul {
    margin: 18px 0 15px 6px;
    padding-left: 20px;
}

#headcontent {
    padding-left: 20px;
}

.h2-like {
    font-family: "Roboto Condensed";
    line-height: 40px;
    font-weight: 700;
    font-style: normal;
    color: #222;
    font-size: 28px;
}

.btn-check-payment {
    font-size: 80%;
    padding: 2%;
    border-radius: 2px;
    text-decoration: none;
    color: #ca1a1d;
}

a.cw-tooltip {
    color: #ca1a1d;
}

.fa-refresh, .fa-external-link {
    line-height: 2 !important;
}

span.cryptowoo-blocktext {
    background-color: #ca1a1d;
    display: block;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
}

.cryptowoo-pay input.button {
    background-color: #ca1a1d !important;
    color: #fff !important;
}

.category-smart-drugs footer.entry-meta {
    margin: 0 !important;
}

.cg-msg-heading {
    margin: 0;
    font-size: 22px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    line-height: 2em !important;
    font-family: "Roboto Condensed";
}

@media (max-width: 768px) {

    .highlight-block div.cg-msg-heading {
        line-height: 1.5em;
        margin: 0px 15px;
    }

    .highlight-block div.cg-msg-heading a {
        display: block;
        line-height: 1em;
        padding: 17px 25px;
        margin-top: 20px;
    }

    .container .wpb_row div.cg-msg-heading {
        margin-top: 5px;
    }
}

#cryptowoo_checkout_field { display: none; }

.payment_method_awepay img {
    width: 60px;
}

.woocommerce-tabs .entry-content h2 {
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 400;
}

ul.woocommerce-error {
    margin: 0 !important;
    padding: 11px 120px 10px 45px !important;
    background: #df0020 !important;
    width: 1200px !important;
}

.woocommerce-error:before {
    position: absolute;
    top: 12px;
    left: 10px;
    content: "\f071";
    color: #fff;
}

.content-area ul.woocommerce-error li {
    margin-bottom: 0;
    margin-left: 0;
    color: #fff;
}

#register-btn {
    color: #fff;
}

.related ul.products > li:nth-of-type(4n+1),
.upsells ul.products > li:nth-of-type(4n+1),
.cross-sells ul.products > li:nth-of-type(4n+1) {
    clear: initial !important;
}

#affwp-affiliate-dashboard #affwp-affiliate-dashboard-tabs li {
    display: inline-block;
    padding: 0 10px 0 0;
    margin-left: 15px;
    margin-bottom: 3px;
}

.blog .content-area header div.entry-meta:before,
.archive .content-area header div.entry-meta:before{content: none;}

.default-blog.fadeInDown.animated {
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
}

.woocommerce-Button.button {
    color: #fff;
}

.content-area ul li:before {
    content: none !important;
}
